<div class="container mf_container">
  
  <h1>Gallery</h1>

    <div class="row">
      <div id="gallery">
        <ul>
          <% @events.each do |event| %>
            <% if event.get_cover %>
              <% if event.get_cover.source != nil %>
                <% calculation = event.get_cover.width.to_f / 275 %>
                  <li>
                    <div class="gal_image">
                      <img src="<%=event.get_cover.source %>" width="275" height="<%= (event.get_cover.height.to_f) / calculation %>">
                      <div class="hoverimage"><a href="<%= event_path(event) %>
                        "><i class="fa fa-youtube-play play_button"></i></a></div>
                    </div>
                    <div class="text_section">
                      <div class="media">
                        <a class="pull-left" href="#">
                          <img class="gal-user-profile" src="
                          <% if event.users.first.image %>
                            <%= event.users.first.image %>
                          <% else %>
                            <!-- Put code for anonymous user image here -->
                          <% end %>
                          " width="35" height="35">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <% if event.title %>
                              <%= event.title %>
                            <% else %>
                              Just another moflix
                            <% end %>
                          </h4>
                          by 
                          <% if event.users.first.name %>
                            <%= event.users.first.name %>
                          <% else %>
                            an anonymous user
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
            <% end %>
            <% end %>
          <% end %>

      </ul>
    </div>
  <div class="clearfix">
</div>

<script>
$(function() {
  
  $('#gallery li').wookmark({
    autoResize: true, // This will auto-update the layout when the browser window is resized.
    container: $('#gallery'), // Optional, used for some extra CSS styling
    offset: 13, // Optional, the distance between grid items
    itemWidth: 280 // Optional, the width of a grid item
  })
  
})

</script>


