<!DOCTYPE html>
<html>
<head>
  <title>Moflix</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <!-- font for moflix logo -->
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <!-- fonts for slidehow -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <div class="mf-bg">
</div>

  <div class="navbar transparent navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>"><span class="moflix">moflix</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= events_path %>">Gallery</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form action="<%= new_event_path %>">
                  <button class="btn mf_btn navbar-btn"><span class="glyphicon glyphicon-film"></span> Create a moflix</button>
              </form>
            </li>
          <% if current_user %>
            <li><a>Signed in 
              <% if current_user.name != nil %> 
                as <%= current_user.name %>
              <% end %></a></li>
            <li><a href="<%= logout_path %>">Logout</a></li>
          <% else %>
            <li><a href="<%= login_path %>">Login</a></li>
          <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<%= yield %>
</body>
</html>
